In [1]:
import pandas as pd
import numpy as np
import subprocess
from subprocess import PIPE

In [2]:
d = './data/'

In [8]:
parcels = pd.read_csv(
        d + 'parcel_attr.csv',
        index_col='primary_id',
        dtype={'primary_id': int, 'block_id': str})

/home/paul/anaconda3/envs/urbansim/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
parcels.head()

,development_type_id,land_value,acres,county_id,zone_id,proportion_undevelopable,tax_exempt_status,apn,parcel_id_local,geom_id,imputation_flag,x,y,shape_area,block_id,node_id
primary_id,,,,,,,,,,,,,,,,
229116,1,0.0,3.360520,1,725,0.0,0,099 029001700,,10305106092872,_,-121.795620,37.655379,1.359956e+04,060014511022061,53091636
244166,1,0.0,1.294423,1,715,0.0,0,099B540210200,,11107351665227,_,-121.713004,37.717277,5.238348e+03,060014511011025,53059159
202378,25,6036500.0,14.993605,1,820,0.0,1,085A643106000,,11030175960628,merged,-122.014199,37.655260,6.067702e+04,060014351031029,1852532916
2004420,-1,179954.0,316.247146,97,1401,0.0,0,141-100-012,,6381677629073,"_, nr_zone_yrblt, bsqft_from_nrsqft, stories1",-122.771868,38.727893,1.279808e+06,060971541003180,4533108955
340332,2,0.0,0.621275,1,763,0.0,0,525 166004800,,314875459798,_,-121.974508,37.546277,2.514215e+03,060014419272014,443532766

In [10]:
buildings = pd.read_csv(
        d + 'buildings_v2.csv',
        index_col='building_id', dtype={'building_id': int, 'parcel_id': int})
buildings['res_sqft_per_unit'] = buildings['residential_sqft'] / buildings['residential_units']
buildings['res_sqft_per_unit'][buildings['res_sqft_per_unit'] == np.inf] = 0

/home/paul/anaconda3/envs/urbansim/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [11]:
building_types = pd.read_csv(
    d + 'building_types.csv',
    index_col='building_type_id', dtype={'building_type_id': int})

In [12]:
building_types.head()

,building_type_general,description,name,is_residential,is_non_residential,is_other
building_type_id,,,,,,
0,Other,other/unknown,O,False,False,True
1,Residential,single-family residential,HS,True,False,False
2,Residential,town-home residential,HT,True,False,False
3,Residential,multi-family residential,HM,True,False,False
4,Office,office,OF,False,True,False

In [13]:
rentals = pd.read_csv(
        d + 'MTC_craigslist_listings_7-10-18.csv',
        index_col='pid', dtype={'pid': int})

/home/paul/anaconda3/envs/urbansim/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
units = pd.read_csv(
        d + 'units_v2.csv',
        index_col='unit_id', dtype={'unit_id': int, 'building_id': int})

In [15]:
households = pd.read_csv(
        d + 'households_v2.csv',
        index_col='household_id', dtype={
            'household_id': int, 'block_group_id': str, 'state': str,
            'county': str, 'tract': str, 'block_group': str,
            'building_id': int, 'unit_id': int, 'persons': float})

In [16]:
persons = pd.read_csv(
        d + 'persons_v3.csv',
        index_col='person_id', dtype={'person_id': int, 'household_id': int})

In [17]:
jobs = pd.read_csv(
        d + 'jobs_v2.csv',
        index_col='job_id', dtype={'job_id': int, 'building_id': int})

In [18]:
establishments = pd.read_csv(
        d + 'establishments_v2.csv',
        index_col='establishment_id', dtype={
            'establishment_id': int, 'building_id': int, 'primary_id': int})

In [19]:
b = 'data/beam_to_urbansim-v3/'
beam_nodes_fname = 'beam-network-nodes.csv'
beam_links_fname = '10.linkstats.csv'
beam_links_filtered_fname = 'beam_links_8am.csv'
with open(b + beam_links_filtered_fname, 'w') as f:
                p1 = subprocess.Popen(
                    ["cat", b + beam_links_fname], stdout=PIPE)
                p2 = subprocess.Popen([
                    "awk", "-F", ",",
                    '(NR==1) || ($4 == "8.0" && $8 == "AVG")'],
                    stdin=p1.stdout, stdout=f)
                p2.wait()

In [20]:
nodesbeam = pd.read_csv(b + beam_nodes_fname).set_index('id')

In [21]:
edgesbeam = pd.read_csv(b + beam_links_filtered_fname).set_index('link')

In [22]:
nodesbeam.head()

                  x             y         lon        lat
id
0     556999.874645  4.160239e+06 -122.354382  37.587447
1     556694.020184  4.160335e+06 -122.357839  37.588328
10    524783.388304  4.251499e+06 -122.716128  38.411391
100   580390.236693  4.173055e+06 -122.088063  37.701202
1000  579889.102807  4.139979e+06 -122.097350  37.403148

In [23]:
edgesbeam.head()

      from    to  hour  length  freespeed  capacity stat  volume  traveltime
link
3640  2509  2508   8.0  49.225  22.222222    2000.0  AVG     8.0    2.215125
3638  2506  2509   8.0  65.033  22.222222    1500.0  AVG    51.0    2.926485
3639  2509  2506   8.0  65.033  22.222222    1500.0  AVG    87.0    6.918448
3630  2503  2504   8.0  62.161   8.333333    1000.0  AVG    40.0   11.620401
3631  2504  2503   8.0  62.161   8.333333    1000.0  AVG    19.0    7.459320

In [24]:
nodeswalk = pd.read_csv(d + 'bayarea_walk_nodes.csv').set_index('osmid')
edgeswalk = pd.read_csv(d + 'bayarea_walk_edges.csv')

/home/paul/anaconda3/envs/urbansim/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/paul/anaconda3/envs/urbansim/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
nodeswalk.head()

                   x          y  ref          highway
osmid
25457938 -121.553913  37.007868  NaN  traffic_signals
25457939 -121.550781  37.002077  NaN              NaN
26027651 -122.102672  37.418131  NaN              NaN
26027655 -122.109872  37.407176  NaN              NaN
26027656 -122.113605  37.401376  NaN  traffic_signals

In [26]:
edgeswalk.head()

,uniqueid,u,v,key,oneway,highway,name,length,lanes,width,est_width,maxspeed,access,service,bridge,tunnel,area,junction,osmid,ref
0,0,5125439488,5436098947,0,False,footway,NaN,5.205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,527154489,NaN
1,1,5125439488,5436093519,0,False,footway,NaN,5.379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,564139731,NaN
2,2,5125439488,5436098941,0,False,footway,NaN,184.927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,527154489,NaN
3,3,1919942662,1919942666,0,False,residential,Santo Domingo Drive,80.159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,276029446,NaN
4,4,1919942662,1919942666,1,False,residential,Altadena Circle,274.959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,276029448,NaN

In [27]:
nodessmall = pd.read_csv(d + 'bay_area_tertiary_strongly_nodes.csv').set_index('osmid')
edgessmall = pd.read_csv(d + 'bay_area_tertiary_strongly_edges.csv')

In [28]:
nodessmall.head()

                   x          y   ref            highway
osmid
281266   -122.302578  37.560184  414B  motorway_junction
302878   -122.059974  37.348484   NaN                NaN
302883   -122.059750  37.337687   19A  motorway_junction
302888   -122.051616  37.327779   NaN                NaN
15972513 -121.893009  36.975175  433B  motorway_junction

In [29]:
store = pd.HDFStore('data/model_data.h5',w)
store.put('parcels',parcels)
store.put('buildings',buildings)
store.put('building_types',building_types)
store.put('units',units)
store.put('rentals',rentals)
store.put('households',households)
store.put('persons',persons)
store.put('jobs',jobs)
store.put('establishments',establishments)
store.put('nodesbeam',nodesbeam)
store.put('edgesbeam',edgesbeam)
store.put('nodeswalk',nodeswalk)
store.put('edgeswalk',edgeswalk)
store.put('nodessmall',nodeswalk)
store.put('edgessmall',edgessmall)
store.keys()

HDF5ExtError: HDF5 error back trace

  File "H5F.c", line 509, in H5Fopen
    unable to open file
  File "H5Fint.c", line 1400, in H5F__open
    unable to open file
  File "H5Fint.c", line 1615, in H5F_open
    unable to lock the file
  File "H5FD.c", line 1640, in H5FD_lock
    driver lock request failed
  File "H5FDsec2.c", line 941, in H5FD_sec2_lock
    unable to lock file, errno = 11, error message = 'Resource temporarily unavailable'

End of HDF5 error back trace

Unable to open/create file 'data/model_data.h5'

In [30]:
store.close()

NameError: name 'store' is not defined